html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(var(--black), 0.01) 0 0 1px;
  font-size: 16px;
  font-family: var(--inter);
  color: var(--regular-text-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  &:focus {
    outline: none;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

object {
  pointer-events: none;
}

figure {
  margin: 0;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
